{% extends 'base.html' %}
{% block title %} Add Post {% endblock %} 

{{% block content %}

<div class = "row">
    <div class = "col-sm-12">
        <h1> Add Post... </h1>
        <div class = "form-group">z`
            <form method = "POST">
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <button class = "btn btn-secondary" > Добавить </button>
            </form>
        </div>
    </div> 
</div>

<script>
    var name = "{{user.id}}";
    document.getElementById("elder").value = name;  
</script>

{% endblock %}}