{% extends 'base.html' %}
{% load static %}
{% block title %} {{post.title}} {% endblock %}

{% block content %}
    

<div class = "row">
    <div class = "col-sm-12">
        <h1> Профиль </h1>
        {{page_user}}
        <div class = "card mb-3" style = "max-width: 100%;">
            <div class = "row g-0">
                <div class = "col-md-4">
                    {% if page_user.profile_pic %}
                        <img src = "{{page_user.profile_pic.url}}" width = 250 class ="img-fluid rounded-circle">
                    {% else %}
                        <img src = "{% static 'blog/images/uk.jpg' %}" width = 250 class = "img-fluid">
                    {% endif %}
                </div>
                <div class = "col-sm-8">
                    <div class = "card-body">
                        <h5 class = "card-title"> {{page_user.user.first_name}} {{page_user.user.last_name}}</h5>
                        <p class = "small text-muted">
                            {% if page_user.profile.instagram_url %}
                                <a href = "{{post.author.profile.instagram_url}}"> Instagram </a> 
                            {% endif %}
                        </p>
                        <p class="card-text"> {{ post.author.profile.bio }} </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
    
{% endblock  %}